@include b(popup) {
  @include define(zindex, 1001);

  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  position: fixed;
  z-index: var(--zindex);

  @include m(center) {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  @include m(bottom) {
    left: 0;
    bottom: 0;
    width: 100%;
  }

  @include m(top) {
    left: 0;
    top: 0;
    width: 100%;
  }

  @include m(left) {
    left: 0;
    top: 0;
    height: 100%;
  }

  @include m(right) {
    right: 0;
    top: 0;
    height: 100%;
  }

}
