@include b(mask) {
  @include define(zindex, 1000);
  @include define(background-color, rgba(0, 0, 0, 0.4));

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: var(--zindex);

  @include m(blur) {
    --background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(180%) blur(20px);
  }
}
